{% extends 'base.html' %}

{% block body %}
        <div class="container mt-3">
            <h1 style="color: orange">Comunidade Impressionadora - Hashtag Treinamentos</h1>
            <h2>Alunos e a galera da Hashtag Treinamentos em um só lugar</h2>
            <hr>
            {% for post in posts %}
                <div class="row border mt-4 p-3 meupost">
                    <div class="col col-3 border border-dark p-3">
                        <div class="image pe-2" align="middle">
                            <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil))  }}" class="rounded" width="200">
                            <div class="text-light bg-dark mt-2 fs-6 text">
                                <strong>{{ post.autor.username }}</strong>
                            </div>
                            <div class="row justify-content-center">
                                    {% for curso in post.autor.cursos.split(';') %}
                                        <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col col-9">
                        <a style="text-decoration: none" class="cor_sublinhado" href="{{ url_for('exibir_post', post_id=post.id) }}">
                            <h3>{{ post.titulo }}
                                    <small class="text-muted" style="font-size: 15px"> - Data de criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}</small>
                            </h3>
                        </a>
                        <p>{{ post.corpo }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
<div class="row mt-5"></div>
{% endblock %}